body,html{
    margin:0;
    padding:0;
}
.container{
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 2px;
    padding: 20px;
    width: fit-content;
}
.plus,.minus{
    float: right;
}
button{
    border: 1px solid black;
    background: white;
    margin: 5px;
    width: 40px;
    transition-duration: .2s;
    transition-timing-function: linear;
    font-size: 20px;
    padding: 10px;
    line-height: 20px;
}
input{
    text-align: right;
    margin-bottom: 15px;
    width: 300px;
    line-height: 30px;
    font-size: 28px;
}
button:hover{
    background-color: #aaa;
    transition-duration: .2s;
    transition-timing-function: linear;
}