@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body,html{
    margin:0;
    padding:0;
}
*{
    font-family: 'Lato', sans-serif !important;
}

h1{
    text-align: center;
    font-size: 70px;
    color: #27ae60

}

.container{
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    height: 150px;
    background-color: #27ae60
}
.plus,.minus,.submit{
    float: right;
    
}
.submit{
    width: 90px;
}
button{
    border: 1px solid black;
    background: white;
    margin: 5px;
    width: 40px;
    transition-duration: .2s;
    transition-timing-function: linear;
    font-size: 20px;
    padding: 10px;
    line-height: 20px;
    border-radius:5px; 
    background-color: #ecf0f1
}
input{
    text-align: right;
    margin-bottom: 15px;
    width: 300px;
    line-height: 30px;
    font-size: 28px;
    border:none;
    padding: 5px;
    margin: 0 auto;
    display: block;
    border-radius:5px; 
    color: #27ae60;
    background-color: #ecf0f1
}
button:hover{
    background-color: #aaa;
    transition-duration: .2s;
    transition-timing-function: linear;
}
ul,li{
    list-style-type: none;
}
.history{
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 2px;
    padding: 20px;
    width: 300px;
}
li{
    font-size: 20px;
}