<h1>{{title}}</h1>
<div class="container">
    <input #box (keyup)="onKey(box.value)" disabled type="text" placeholder="0" value="{{value}}" class="input"><br>
    <button (click)="addZero()" class="zero">0</button>
    <button (click)="addOne()" class="one">1</button>
    <button (click)="plus()" class="plus">+</button>
    <button (click)="minus()" class="minus">-</button><br>
    <button (click)="submit()" class="submit">=</button>
</div>
<div class="history" *ngIf="values.length>0">
    <ul>
      <li *ngFor="let value of values">
        {{value}}
      </li>
    </ul>
  <li>{{value}}</li>
</div>